# Switch Configuration
NET "rst" LOC = "AC11";
NET "rst" IOSTANDARD = LVCMOS25;

# Clock Configuration
NET "clk" LOC = "AJ15";
NET "clk" IOSTANDARD = LVCMOS25;

# Audio Configuration
NET "BIT_CLK" LOC = "F8";
NET "BIT_CLK" IOSTANDARD = LVTTL;

NET "SDATA_OUT" LOC = "E8";
NET "SDATA_OUT" IOSTANDARD = LVTTL;
NET "SDATA_OUT" DRIVE = 8;
NET "SDATA_OUT" SLEW = SLOW;

NET "SYNC" LOC = "F7";
NET "SYNC" IOSTANDARD = LVTTL;
NET "SYNC" DRIVE = 8;
NET "SYNC" SLEW = SLOW;

NET "BEEP_TONE_IN" LOC = "E7";
NET "BEEP_TONE_IN" IOSTANDARD = LVTTL;
NET "BEEP_TONE_IN" DRIVE = 8;
NET "BEEP_TONE_IN" SLEW = SLOW;

NET "AUDIO_RESET_Z" LOC = "E6";
NET "AUDIO_RESET_Z" IOSTANDARD = LVTTL;
NET "AUDIO_RESET_Z" DRIVE = 8;
NET "AUDIO_RESET_Z" SLEW = SLOW;

