# Switch Configuration
NET "rst" LOC = "AC11";
NET "rst" IOSTANDARD = LVCMOS25;

# Clock Configuration
NET "clk" LOC = "AJ15";
NET "clk" IOSTANDARD = LVCMOS25;

# Audio Configuration
NET "BIT_CLK" LOC = "F8";
NET "BIT_CLK" IOSTANDARD = LVTTL;

NET "SDATA_OUT" LOC = "E8";
NET "SDATA_OUT" IOSTANDARD = LVTTL;
NET "SDATA_OUT" DRIVE = 8;
NET "SDATA_OUT" SLEW = SLOW;

NET "SYNC" LOC = "F7";
NET "SYNC" IOSTANDARD = LVTTL;
NET "SYNC" DRIVE = 8;
NET "SYNC" SLEW = SLOW;

NET "BEEP_TONE_IN" LOC = "E7";
NET "BEEP_TONE_IN" IOSTANDARD = LVTTL;
NET "BEEP_TONE_IN" DRIVE = 8;
NET "BEEP_TONE_IN" SLEW = SLOW;

NET "AUDIO_RESET_Z" LOC = "E6";
NET "AUDIO_RESET_Z" IOSTANDARD = LVTTL;
NET "AUDIO_RESET_Z" DRIVE = 8;
NET "AUDIO_RESET_Z" SLEW = SLOW;

NET "LED_0" LOC = "AC4";
NET "LED_1" LOC = "AC3";
NET "LED_2" LOC = "AA6";
NET "LED_3" LOC = "AA5";

NET "LED_0" IOSTANDARD = LVTTL;
NET "LED_1" IOSTANDARD = LVTTL;
NET "LED_2" IOSTANDARD = LVTTL;
NET "LED_3" IOSTANDARD = LVTTL;

NET "LED_0" DRIVE = 12;
NET "LED_1" DRIVE = 12;
NET "LED_2" DRIVE = 12;
NET "LED_3" DRIVE = 12;

NET "LED_0" SLEW = SLOW;
NET "LED_1" SLEW = SLOW;
NET "LED_2" SLEW = SLOW;
NET "LED_3" SLEW = SLOW;